.arrow-down {
    position: absolute;
    top: 4px;
    transform: translateX(-44px);
    transition: transform 2s linear ease-in-out;
}

.arrow-down[data-currentplayer = "2"] {
    transform: translateX(44px); 
}